body {
  margin: 0;
  font-family: sans-serif;
}
#map {
  height: 90vh; 
  width: 100%;   
}
h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 20px;
}
#controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.age-btn,
.income-btn {
  font-size: 1.5em; 
}

.age-btn {
  background: #01579e;
  color: rgb(247, 242, 242);
  border: none;
}
.income-btn {
  background:rgb(225, 118, 3);
  color: rgb(245, 245, 245);
  border: none;
}
.legend {
  background: white;
  padding: 20px 28px;      
  line-height: 2;         
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
  font-size: 2em;        
  color: #222;
}
.legend i {
  display: inline-block;
  width: 28px;            
  margin-right: 12px;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;            
  right: auto;          
  width: 450px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #ccc;  
  border-left: none;             
  box-shadow: 2px 0 8px rgba(0,0,0,0.07); 
  overflow-y: auto;
  z-index: 1001;
  font-size: 1.4em; 
  display: none; 
}
@media (max-width: 700px) {
  #sidebar {
    width: 100vw;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    height: 40vh;
    border-right: none;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.07);
    padding: 16px 8px;
  }
}
.leaflet-popup-content {
  font-size: 2em; 
}
